services:
  - type: web
    name: pmgold-n8n
    env: docker
    plan: free
    branch: main
    healthCheckPath: /
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "false"
      - key: N8N_PROTOCOL
        value: "https"
      - key: N8N_PORT
        value: "5678"
      - key: N8N_HOST
        value: "pmgold-n8n.onrender.com"
      - key: GENERIC_TIMEZONE
        value: "Asia/Dubai"
