services:
  - type: web
    name: pmgold-n8n
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "false"
      - key: N8N_PORT
        value: "5678"
      - key: RENDER_EXTERNAL_URL
        fromService:
          name: pmgold-n8n
          type: web
          property: url
